.card {

}

.card__header {
  text-transform: uppercase;
  margin: 10%;
}
.container {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.cell {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #141823;
  z-index: 1;
}

h2 {
	text-align: center;
	font-size: 2em;
	font-weight: 600;
	font-feature-settings: "tnum" on;
	font-variant-numeric: tabular-nums;
}


h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #227c96;
}

a:hover {
  text-decoration: underline;
}

.stopwatch {
  text-align: center;
}

.stopwatch__display {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

.stopwatch__history {
  margin-top: 15px;
}

ul {
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
  border-bottom: 1px solid #141823;
}

li:hover {
  background-color: #f7f8f9;
}

li:last-child {
  display: none;
}
