body {
	display: flex;
	align-items: center;
  justify-content: center;
	height: 100vh;
	width: 100vw;
	background: $clouds;
	font-family: $font;
}

.card {
  width:280px;
  display: block;
  margin: 60px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.container {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.cell {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}
